{{ attach_library('edux/slider') }}
<section class="slider">
  <div class="container slider-container">
    <div class="slider-text">
      <ul class="js-rotating">
        {% if slider_code != '' %}
          {{ slider_code | striptags('<ol>,<ul>,<li>,<p>,<a>,<img>,<video>,<h1>,<h2>,<h3>,<h4>,<h5>,<h6>,<em>,<strong>,<br>,<i>,<button>,<mark>,<hr>') | raw }}
        {% else %}
          <li>
            <h1>A Safe & <em>Caring</em> Environment</h1>
            <p>Child safety is our top priority. With trained staff and secure facilities, parents can have complete peace of mind.</p>
            <a class="button-dark" href="#">Visit Us</a>
          </li>

          <li>
            <h1><em>Daycare</em> with Love & Learning</h1>
            <p>Our flexible daycare combines attentive care with playful activities, helping little ones feel at home away from home.</p>
            <a class="button-dark" href="#">Explore Daycare</a>
          </li>

          <li>
            <h1>Creative <em>Activities</em> & Joyful <em>Play</em></h1>
            <p>From art and music to storytelling and outdoor play, we spark imagination and encourage joyful discovery every day.</p>
            <a class="button-dark" href="#">See Activities</a>
          </li>

          <li>
            <h1><em>Parent</em> Partnerships Matter</h1>
            <p>We believe in growing together. Regular updates and parent engagement ensure your child’s learning journey is shared with you.</p>
            <a class="button-dark" href="#">Join Our Family</a>
          </li>

          <li>
            <h1>Celebrating Every <em>Milestone</em></h1>
            <p>Every achievement, big or small, is celebrated at Little Millennium Medavakkam — boosting your child’s confidence and joy.</p>
            <a class="button-dark" href="#">Enroll Today</a>
          </li>

        {% endif %}
      </ul> <!--/.home-slider -->
    </div><!-- /slider-text -->
    <div class="slider-image">
      {% if slider_image_path != '' %}
        <img src="{{ slider_image_path }}" alt="slider image" />
      {% else %}
        <img src="{{ directory }}/images/demo/slider.svg" alt="slider image" />
      {% endif %}
    </div><!-- /slider-image -->
  </div> <!--/.container -->
</section>
